<!-- if the overlay is clicked, close the modal -->
<div class="modal-overlay" (click)="closeModal()">

  <!-- if the modal body is clicked, cancel the click event's propagation -->
  <div class="modal-body" (click)="cancelClick($event)">

    <!-- if the body input has been defined, project the body content -->
    <ng-container *ngIf="body; else projectedContent">
      <ng-container *ngTemplateOutlet="body"></ng-container>
    </ng-container>

    <!-- else if the body input was not defined, project some default content -->
    <ng-template #projectedContent>
      <ng-content></ng-content>
    </ng-template>

  </div>
</div>
